.description {
width: 100%;
display: flex;
justify-content: center;
}

.description ul {
  max-width: 650px;
  padding: 40px;
}

.description li {
  margin-bottom: 15px;
}

h2 {
  margin-bottom: 20px;
  font-size: 1.5rem;
}

.easy {
  font-weight: bold;
  color: red;
}

.medium {
  font-weight: bold;
  color: rgb(199, 199, 8);
}

.strong {
  font-weight: bold;
  color: green;
}
